In [1]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
import pandas as pd


# 1. Connection Settings

In [2]:
# Load .env file
load_dotenv()

# Get the EC2 tracking server host from the environment variable
EC2_TRACKING_SERVER_HOST = os.getenv('EC2_TRACKING_SERVER_HOST')
EC2_ENDPOINT = f"http://{EC2_TRACKING_SERVER_HOST}:8000"

# Parameters for the RDS PostgreSQL instance
PG_HOST = os.getenv('PG_HOST')
PG_PORT = os.getenv('PG_PORT')
PG_DATABASE = os.getenv('PG_DATABASE')
PG_USER = os.getenv('PG_USER')
PG_PASSWORD = os.getenv('PG_PASSWORD')

# Create the MySQL database connection string
db_url = f'postgresql+psycopg2://{PG_USER}:{PG_PASSWORD}@{PG_HOST}:{PG_PORT}/{PG_DATABASE}'

In [3]:
def select_from_rds(query):
    engine = create_engine(db_url)
    connection = engine.connect()
    df = pd.read_sql(query, connection)
    connection.close()
    return df

In [6]:
df_m = select_from_rds('select * from measurments_rewa')
df_m.head()

,Time,WindSpeed,WindGust,Temp,WindDir,Baro,Update
0,2021-01-25 00:00:00,6.41,7.19,1.6,257.0,1023.0,2023-10-13 18:27:01
1,2021-01-25 00:10:00,5.05,6.03,1.7,225.0,1023.1,2023-10-13 18:27:01
2,2021-01-25 00:20:00,4.28,6.03,1.7,229.0,1023.3,2023-10-13 18:27:01
3,2021-01-25 00:30:00,3.89,4.67,1.7,235.0,1023.5,2023-10-13 18:27:01
4,2021-01-25 00:40:00,5.64,7.19,2.1,228.0,1023.5,2023-10-13 18:27:01

In [8]:
df_f = select_from_rds('select * from forecast')
df_f.tail()

,Time,Month,Hour,WindForecast,GustForecast,WindDirForecast,Temperature,Precipitation,Cloudcover,Update
12018,2023-10-30 14:00:00,10,14,9.2,17.20,228.5,13.50,0.0,100.0,2023-10-30
12019,2023-10-30 16:00:00,10,16,6.7,11.45,205.0,11.75,0.0,100.0,2023-10-30
12020,2023-10-30 18:00:00,10,18,8.0,18.00,196.5,10.75,0.0,98.0,2023-10-30
12021,2023-10-30 20:00:00,10,20,7.0,17.10,199.0,10.45,0.0,100.0,2023-10-30
12022,2023-10-30 22:00:00,10,22,5.4,13.15,175.0,11.10,0.0,100.0,2023-10-30

In [26]:
df = select_from_rds(query='select * from model_versions')

In [25]:
max_version_gust = df[df['name'] == 'xgboost-8features-hpt-guster3']['version'].max()
max_version_gust

2

In [27]:
max_version = df[df['name'] == 'xgboost-8features-hpt']['version'].max()
max_version

5

In [20]:
df = select_from_rds(query='select * from current_pred_rewa')
df

                  Time       Wind       Gust  Direction
0  2023-11-05 00:00:00  10.115939  13.432979      155.5
1  2023-11-05 02:00:00  12.377492  16.567680      155.0
2  2023-11-05 04:00:00  13.432081  17.819675      159.0
3  2023-11-05 06:00:00  12.270596  16.414089      157.0
4  2023-11-05 08:00:00  10.743917  13.414351      163.5
5  2023-11-05 10:00:00  10.380784  13.412223      169.5
6  2023-11-05 12:00:00   8.970454  12.142577      175.5
7  2023-11-05 14:00:00   9.560993  12.694055      171.5
8  2023-11-05 16:00:00   8.388249  10.516568      173.0
9  2023-11-05 18:00:00   6.962792   9.762438      175.0
10 2023-11-05 20:00:00   6.734913   8.658175      174.0
11 2023-11-05 22:00:00   6.222646   7.922565      170.5
12 2023-11-06 00:00:00   5.673743   7.370864      210.5
13 2023-11-06 02:00:00   6.168132   8.131960      219.0
14 2023-11-06 04:00:00   6.299904   8.325070      236.5
15 2023-11-06 06:00:00   6.465329   9.445245      240.0
16 2023-11-06 08:00:00   9.422726  12.726880      238.0
17 2023-11-06 10:00:00  14.071597  18.676138      248.0
18 2023-11-06 12:00:00  18.042107  23.248577      246.0
19 2023-11-06 14:00:00  18.452770  23.546015      253.5
20 2023-11-06 16:00:00  18.409267  23.673353      257.5
21 2023-11-06 18:00:00  15.575952  20.902916      253.0
22 2023-11-06 20:00:00  12.088943  17.211416      251.0
23 2023-11-06 22:00:00  11.040314  15.448675      248.5
24 2023-11-07 00:00:00  10.257754  14.116776      243.0
25 2023-11-07 02:00:00   8.412092  11.018826      237.5
26 2023-11-07 04:00:00   7.421250   9.844087      227.0
27 2023-11-07 06:00:00   8.505485  11.186181      232.0
28 2023-11-07 08:00:00   9.290953  12.645751      232.5
29 2023-11-07 10:00:00   9.640194  13.251353      236.0
30 2023-11-07 12:00:00   9.398492  12.724753      241.5
31 2023-11-07 14:00:00   9.458232  12.724753      239.5
32 2023-11-07 16:00:00   9.185278  12.643624      233.0
33 2023-11-07 18:00:00   8.659180  12.201095      232.0
34 2023-11-07 20:00:00   8.802188  12.632810      236.5
35 2023-11-07 22:00:00   7.447985  10.168936      236.5

In [21]:
# Define wind direction bins
bins = [0, 45, 90, 135, 180, 225, 270, 315, 360]
labels = ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW']

# Bin wind directions 
df['Direction'] = pd.cut(df['Direction'], bins=bins, labels=labels)
df

                  Time       Wind       Gust Direction
0  2023-11-05 00:00:00  10.115939  13.432979        SE
1  2023-11-05 02:00:00  12.377492  16.567680        SE
2  2023-11-05 04:00:00  13.432081  17.819675        SE
3  2023-11-05 06:00:00  12.270596  16.414089        SE
4  2023-11-05 08:00:00  10.743917  13.414351        SE
5  2023-11-05 10:00:00  10.380784  13.412223        SE
6  2023-11-05 12:00:00   8.970454  12.142577        SE
7  2023-11-05 14:00:00   9.560993  12.694055        SE
8  2023-11-05 16:00:00   8.388249  10.516568        SE
9  2023-11-05 18:00:00   6.962792   9.762438        SE
10 2023-11-05 20:00:00   6.734913   8.658175        SE
11 2023-11-05 22:00:00   6.222646   7.922565        SE
12 2023-11-06 00:00:00   5.673743   7.370864         S
13 2023-11-06 02:00:00   6.168132   8.131960         S
14 2023-11-06 04:00:00   6.299904   8.325070        SW
15 2023-11-06 06:00:00   6.465329   9.445245        SW
16 2023-11-06 08:00:00   9.422726  12.726880        SW
17 2023-11-06 10:00:00  14.071597  18.676138        SW
18 2023-11-06 12:00:00  18.042107  23.248577        SW
19 2023-11-06 14:00:00  18.452770  23.546015        SW
20 2023-11-06 16:00:00  18.409267  23.673353        SW
21 2023-11-06 18:00:00  15.575952  20.902916        SW
22 2023-11-06 20:00:00  12.088943  17.211416        SW
23 2023-11-06 22:00:00  11.040314  15.448675        SW
24 2023-11-07 00:00:00  10.257754  14.116776        SW
25 2023-11-07 02:00:00   8.412092  11.018826        SW
26 2023-11-07 04:00:00   7.421250   9.844087        SW
27 2023-11-07 06:00:00   8.505485  11.186181        SW
28 2023-11-07 08:00:00   9.290953  12.645751        SW
29 2023-11-07 10:00:00   9.640194  13.251353        SW
30 2023-11-07 12:00:00   9.398492  12.724753        SW
31 2023-11-07 14:00:00   9.458232  12.724753        SW
32 2023-11-07 16:00:00   9.185278  12.643624        SW
33 2023-11-07 18:00:00   8.659180  12.201095        SW
34 2023-11-07 20:00:00   8.802188  12.632810        SW
35 2023-11-07 22:00:00   7.447985  10.168936        SW