In [3]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
import pandas as pd


# 1. Connection Settings

In [4]:
# Load .env file
load_dotenv()

# Get the EC2 tracking server host from the environment variable
EC2_TRACKING_SERVER_HOST = os.getenv('EC2_TRACKING_SERVER_HOST')
EC2_ENDPOINT = f"http://{EC2_TRACKING_SERVER_HOST}:8000"

# Parameters for the RDS PostgreSQL instance
PG_HOST = os.getenv('PG_HOST')
PG_PORT = os.getenv('PG_PORT')
PG_DATABASE = os.getenv('PG_DATABASE')
PG_USER = os.getenv('PG_USER')
PG_PASSWORD = os.getenv('PG_PASSWORD')

# Create the MySQL database connection string
db_url = f'postgresql+psycopg2://{PG_USER}:{PG_PASSWORD}@{PG_HOST}:{PG_PORT}/{PG_DATABASE}'

In [5]:
def select_from_rds(query):
    engine = create_engine(db_url)
    connection = engine.connect()
    df = pd.read_sql(query, connection)
    connection.close()
    return df

In [6]:
df_m = select_from_rds('select * from measurments_rewa')
df_m.head()

,Time,WindSpeed,WindGust,Temp,WindDir,Baro,Update
0,2021-01-25 00:00:00,6.41,7.19,1.6,257.0,1023.0,2023-10-13 18:27:01
1,2021-01-25 00:10:00,5.05,6.03,1.7,225.0,1023.1,2023-10-13 18:27:01
2,2021-01-25 00:20:00,4.28,6.03,1.7,229.0,1023.3,2023-10-13 18:27:01
3,2021-01-25 00:30:00,3.89,4.67,1.7,235.0,1023.5,2023-10-13 18:27:01
4,2021-01-25 00:40:00,5.64,7.19,2.1,228.0,1023.5,2023-10-13 18:27:01

In [8]:
df_f = select_from_rds('select * from forecast')
df_f.tail()

,Time,Month,Hour,WindForecast,GustForecast,WindDirForecast,Temperature,Precipitation,Cloudcover,Update
12018,2023-10-30 14:00:00,10,14,9.2,17.20,228.5,13.50,0.0,100.0,2023-10-30
12019,2023-10-30 16:00:00,10,16,6.7,11.45,205.0,11.75,0.0,100.0,2023-10-30
12020,2023-10-30 18:00:00,10,18,8.0,18.00,196.5,10.75,0.0,98.0,2023-10-30
12021,2023-10-30 20:00:00,10,20,7.0,17.10,199.0,10.45,0.0,100.0,2023-10-30
12022,2023-10-30 22:00:00,10,22,5.4,13.15,175.0,11.10,0.0,100.0,2023-10-30